.header {
    width: 100%;
    background-color: #232a31;
    padding: 10px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

}

.logo {
    width: 50px;
}

.navbar-itens {
    list-style: none;
    align-items: center;
    gap: 16px;
    display: flex;

}

.navbar-itens li a {
    color: white;
    text-transform: uppercase;
}

#login-btn {
    background-color: #2cc76a;
    color: #fff;
    padding: 16px 20px;
    border-radius: 4px;
}


.banner {

    background-image: url("../img/mainbanner.png");
    padding: 50px 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.banner h1,
.banner strong {
    color: #fff;
    text-align: center;
}

.banner h1 {
    font-size: 54px;
}

.banner strong {
    font-size: 20px;
    margin-bottom: 20px;
}

.secao_beneficios {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.secao_beneficios ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 50px;
}

.beneficios {
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.fa-shield-alt {
    color: #0fbd49;
    font-size: 40px;
}

.fa-rocket {
    color: #ff1414;
    font-size: 40px;
}

.fa-comments {
    font-size: 40px;
    color: #fffb00;
}

.planos h3{

    justify-content: center;
    justify-content: center;
    display: flex;
    padding: 20px;
}
.planos strong{
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    
}
.planos{
    margin: 100px;
}

.card_planos{
       
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        gap: 50px;
       list-style: none;
       width: 100%;
       align-items: center;
     
}

  
       


.circle{
 
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 50%;
             width: 80px;
            height: 80px;
             background-color: #8aff46;
            font-size: 15px;
            margin-top: -45px;
}   



.card_header{
   padding: 0 20px 15px 20px;
    background-color: #1b1b18;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card_header h3{
    color: #fff;
        font-size: 15px;
        
}
.circle h3{
    font-size: 12px;
    color: #fff;


}
.card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
   color: #0a0a0a;
    
}
.card{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #a9a9aa;
    width: 250px;
    justify-content: space-between;
}
.button{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    background-color: #8aff46;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 1.0s;
}
.card footer{
    width: 100%;

}

.button:hover{
    background-color: rgb(255, 0, 0);
}


.buscar-dominio {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.div-dominio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    background-color: #232a31;
    gap: 20px;
    width: 100%;
}

.div-dominio h2,
p {
    color: #fff;
}
.div-dominio input {
    width: 50%;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.div-dominio button {
    background-color: #0fbd49;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
}

.footer-social {
    display: flex;
    gap: 40px;
    justify-content: center;
}


.fa-facebook,
.fa-twitter,
.fa-instagram {
    color: #000000;
    font-size: 30px;
}


.div-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.div-input input {
    flex: 1;
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    gap: 20px;
}

.footer-form textarea {
    width: 100%;

}

.footer-contato p,
h2 {
    color: #000000;
}

.footer-contato button {
    background-color: #0fbd49;
    color: white;
    padding: 10px 20px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
}

.footer-contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(76, 78, 78);
    gap: 20px;
    padding-top: 50px;
}

.footer-contato input {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 40px;

}

.footer-ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  
}

.footer-ul p {
    color: black;
    font-size: 14px;
    
}